<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
<!--     <script>-->
<!--        function showAlert() {-->
<!--            alert('login first');-->
<!--        }-->
<!--    </script>-->
    <!--    message-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body style="background-image:url(static/assets/img/hero-bg.jpg);">
<section>
<div>
                        <a href="./index.html"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
</div>
     <div class="header__top__left" align="center">


                </div>
    <div align="center">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2 style="color:green;">Vegetable <br />100% Organic</h2>
                            <p style="color:green;" >Free Pickup and Delivery Available</p>
                                   <div class="header__menu">
                        <ul style=" margin-right: 34px;">
                            <li><a href="viewshop"><button class="site-btn" style="width: 248px; height: 145px;">View Shop</button></a>

                            <li><a href="viewuser"><button class="site-btn" style="width: 248px; height: 145px;">View User</button></a>

                            <li><a href="viewitem"><button class="site-btn" style="width: 248px; height: 145px;">View Products</button></a>
                            <li><a href="viewfeedback"><button class="site-btn" style="width: 248px; height: 145px;">View Feedback</button></a>


                        </ul>

                                       <br>
<!--                            <a href="message" class="primary-btn">SHOP NOW</a>-->
</div>
<!--                            <button onclick="showAlert()" class="site-btn">Shop now</button>-->
                        </div>
        <br>
        <br>
    </div>
</section>


    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
<!--  -->
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->

    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>



</body>

</html>