<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
<!--    <div id="preloder">-->
<!--        <div class="loader"></div>-->
<!--    </div>-->

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'assets/img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
<!--                <a href="#"><i class="fa fa-user"></i> Login</a>-->
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>

    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">


                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li style="margin-left:40%"><a href="../"><h3><b>Home</b></h3></a></li>
<!--                            <li><a href="shopgrid">Shop</a></li>-->
<!--                            <li><a href="#">Pages</a>-->
<!--                                <ul class="header__menu__dropdown">-->
<!--                                    <li><a href="shopdetails">Shop Details</a></li>-->
<!--                                    <li><a href="shopingcart">Shoping Cart</a></li>-->
<!--                                    <li><a href="checkout">Check Out</a></li>-->
<!--                                    <li><a href="blog-details">Blog Details</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a href="blog">Blog</a></li>-->
<!--                            <li class="active"><a href="contact">Contact</a></li>-->
                        </ul>
                    </nav>
                     <div>
                        {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
{% endfor %}

</div>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3">-->
<!--                    <div class="hero__categories">-->
<!--                        <div class="hero__categories__all">-->
<!--                            <i class="fa fa-bars"></i>-->
<!--                            <span>All departments</span>-->
<!--                        </div>-->
<!--                        <ul>-->
<!--                            <li><a href="#">Fresh Meat</a></li>-->
<!--                            <li><a href="#">Vegetables</a></li>-->
<!--                            <li><a href="#">Fruit & Nut Gifts</a></li>-->
<!--                            <li><a href="#">Fresh Berries</a></li>-->
<!--                            <li><a href="#">Ocean Foods</a></li>-->
<!--                            <li><a href="#">Butter & Eggs</a></li>-->
<!--                            <li><a href="#">Fastfood</a></li>-->
<!--                            <li><a href="#">Fresh Onion</a></li>-->
<!--                            <li><a href="#">Papayaya & Crisps</a></li>-->
<!--                            <li><a href="#">Oatmeal</a></li>-->
<!--                            <li><a href="#">Fresh Bananas</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;              &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="hero__search__phone">-->
<!--                            <div class="hero__search__phone__icon">-->
<!--                                <i class="fa fa-phone"></i>-->
<!--                            </div>-->
<!--                            <div class="hero__search__phone__text">-->
<!--                                <h5>+65 11.188.888</h5>-->
<!--                                <span>support 24/7 time</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->

    <section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
          <form action="shoplogin" method="post">
                  {% csrf_token %}
                <div class="row" style="margin-left:50%">
<!--                    <div class="col-lg-12 col-md-6 ">-->
<!--                        <input type="text" size="50" placeholder="Your name">-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <br>-->
                    <div class="col-lg-12 col-md-6">
                        <input type="text" size="50" name="shopname" placeholder="shopname">
                    </div>
                    <br>
                    <br>
<!--                     <div class="col-lg-12 col-md-6">-->
<!--                        <input type="email" size="50" placeholder="email">-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <br>-->
                     <div class="col-lg-12 col-md-6">
                        <input type="password" size="50" name="password" placeholder="password">
                    </div>
                    <br>
                    <br>
<!--                     <div class="col-lg-12 col-md-6">-->
<!--                        <input type="password" size="50" name="re-password" placeholder="re-password">-->
<!--                    </div>-->

                    <div class="col-lg-10 text-center">
<!--                        <textarea placeholder="Your message"></textarea>-->
<!--                        <br>-->
                        <button type="submit" class="site-btn">login</button>
                    </div>
                </div>

                                     <div class="col-7" style="margin-left:60%">

                                       <p style="colour:white;">  <span class="signup"><b>Don't have an shop?</b>
                                    <a href="reggshop">sign up</a>
                                             </span></p>
                                </div>
            </form>
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12 text-center">-->
<!--                    <div class="breadcrumb__text">-->
<!--                        <h2>Contact Us</h2>-->
<!--                        <div class="breadcrumb__option">-->
<!--                            <a href="./index.html">Home</a>-->
<!--                            <span>Contact Us</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Phone</h4>
                        <p>9207035582</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>60-49 Road 11378 Ernamkulan</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>ogani@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.39176087041!2d-86.41867791216099!3d39.69977417971648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20IN%2C%20USA!5e0!3m2!1sen!2sbd!4v1586106673811!5m2!1sen!2sbd"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Ernamkulam</h4>
                <ul>
                    <li>Phone: 9207035582</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->

    <!-- Contact Form Begin -->

    <!-- Contact Form End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"> <img src="{% static 'assets/img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 Ernamkulam</li>
                            <li>Phone: 9207035582</li>
                            <li>Email: ogani@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>

                        </ul>
                    </div>
                </div>

            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>



</body>

</html>